<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
</head>
<body class = "datosProfBd">
    <div class = "containerDatos">
        <form action = "datosProfesRes" method = "post">
            <div>
                <label class = "textoDatos" id = "textoId" name = "textoId" for = "entryId">
                    ID:
                </label>
                <input class = "entryDatos" type = "text" id = "entryId" name = "entryId" value = "<%= profe.idProfesor %>" disabled>
            </div>
            <div>
                <label class = "textoDatos" id = "textoName" name = "textoName" for = "entryName">
                    Nombre:
                </label>
                <input class = "entryDatos" type = "text" id = "entryName" name = "entryName" value = "<%= profe.nombre %>">
            </div>
            <div>
                <label class = "textoDatos" id = "textoCE" name = "textoCE" for = "entryCE">
                    Correo Electronico:
                </label>
                <input class = "entryDatos" type = "text" id = "entryCE" name = "entryCE" value = "<%= profe.correo %>">
            </div>
            <div>
                <label class = "textoDatos" id = "textoPass" name = "textoPass" for = "entryPass">
                    Contraseña:
                </label>
                <input class = "entryDatos" type = "text" id = "entryPass" name = "entryPass" value = "<%= profe.contrasena %>">
            </div>
            <div>
                <label class = "textoDatos" id = "textoTel" name = "textoTel" for = "entryTel">
                    Numero Telefonico:
                </label>
                <input class = "entryDatos" type = "text" id = "entryTel" name = "entryTel" value = "<%= profe.telOficina %>">
            </div>
            <div>
                <label class = "textoDatos" id = "textoCel" name = "textoCel" for = "entryCel">
                    Numero Celular:
                </label>
                <input class = "entryDatos" type = "text" id = "entryCel" name = "entryCel" value = "<%= profe.celular %>">
            </div>
            <div>
                <label class = "textoDatos" id = "textoFoto" name = "textoFoto" for = "entryFoto">
                    Fotografía:
                </label>
                <button class = "botonDatos" id = "btnFoto" name = "btnFoto">
                    Archivo:
                </button>
            </div>
            <div>
                <button type = "submit" id = "guardar" name = "guardar" onclick = "alert('Guardado con éxito!')">Guardar</button>
            </div>
        </form>
    </div>
</body>
</html>