<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
    <script>
        function confCancelarAct() {
            if (confirm("¿Estás seguro que quieres cancelar esta actividad?")) {
                document.getElementById("btnBajaProfGuia").setAttribute("value", "1")
            } else {
                document.getElementById("btnBajaProfGuia").setAttribute("value", "2")
            }
        }
    </script>
</head>
<body class = "gestionBd">
    <form class = "formGestionPT" method = "post">
        <div>
            <label class = "tituloGestion">GESTION PLAN DE TRABAJO</label>
            <button class = "btnSalir1" id = "btnSalir1" name = "btnSalir1" formaction = "salirGestionPT">
                Salir
            </button>
        </div>
        <div class = "columna1">
            <div class = "estudLB" id = "actividadesLB" name = "actividadesLB">
                <table class = "tablaHeader">
                    <tr>
                        <th>Semana</th>
                        <th>Nombre</th>
                        <th>Tipo de Actividad</th>
                        <th>Fecha y hora</th>
                    </tr>
                </table>
                <div class = "divInfo">
                    <table>
                        <% for (elemento of arreglo) { %>
                        <tr>
                            <td><%= elemento["semana"] %></td>
                            <td><%= elemento["nombre"] %></td>
                            <td><%= elemento["tipoAct"] %></td>
                            <td><%= elemento["FechaHora"] %></td>
                            <td>
                                <input type = "radio" id = "elementosTabla" name = "elementosTabla" value = "<%= elemento['id'] %>">
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
            <div class = "columna2">
                <button class = "botonesAct" id = "btnNuevaAct" name = "btnNuevoProfGuia" formaction = "agrActividad">
                    Agregar actividad
                </button>
                <button class = "botonesAct" id = "btnMarcarRealizada" name = "btnMarcarRealizada" formaction = ""
                onclick = "confirm('Se ha marcada con éxito!')">
                    Marcar como REALIZADA
                </button>
                <button class = "botonesAct" id = "btnCancelarAct" name = "btnCancelarAct" onclick = "confCancelarAct()"
                formaction = "">
                    CANCELAR actividad
                </button>
                <button class = "botonesAct" id = "btnPublicAct" name = "btnPublicAct" onclick = "confirm('Se ha activado la publicación con éxito!')"
                formaction = "">
                    Activar publicación
                </button>
                <button class = "botonesAct" id = "btnComentario" name = "btnComentario"
                formaction = "comentario">
                    Comentarios
                </button>
            </div>
        </div>
    </form>
</body>
</html>